
.button {
     background-color: hsl(var(--color-black));
     color: hsl(var(--color-white));
     padding: 13px 20px;
     border: 1px solid hsl(var(--color-black));
     border-radius: 30px;
     font-size: 14;
     font-weight: 700;
}